<app-navbar></app-navbar>
<div class="container my-5">
  <div class="form-container">
    <h1 class="title"><i class="fas fa-user-graduate title-icon"></i> Ajouter une Promotion</h1>
    
    <form (ngSubmit)="addPromo()" class="standard-form">
      <!-- Niveau de la Promotion -->
      <div class="form-group">
        <label for="promoLevel">
          <i class="fas fa-graduation-cap icon-label"></i> Niveau de la Promotion
        </label>
        <select class="form-input" id="promoLevel" [(ngModel)]="promoLevel" name="promoLevel" required>
          <option value="" disabled selected>Choisissez un niveau</option>
          <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
        </select>
        <div class="error-message" *ngIf="errors['promoLevel']">
          <i class="fas fa-exclamation-circle"></i> {{ errors['promoLevel'] }}
        </div>
      </div>
      
      <!-- Site -->
      <div class="form-group">
        <label for="promoSiteId">
          <i class="fas fa-map-marker-alt icon-label"></i> Site
        </label>
        <select class="form-input" id="promoSiteId" [(ngModel)]="promoSiteId" name="promoSiteId" required>
          <option value="" disabled selected>Choisissez un site</option>
          <option *ngFor="let site of sites" [value]="site.id">{{ site.nom }}</option>
        </select>
        <div class="error-message" *ngIf="errors['promoSiteId']">
          <i class="fas fa-exclamation-circle"></i> {{ errors['promoSiteId'] }}
        </div>
      </div>
      
      <div class="form-actions">
        <button type="submit" [ngClass]="{'btn': true, 'btn-update': isFormFilled(), 'btn-disabled': !isFormFilled()}" [disabled]="!isFormFilled()">
          <i class="fas fa-plus-circle"></i> Ajouter
        </button>
        <button type="button" class="btn btn-return" [routerLink]="['/promotionlist']">
          <i class="fas fa-arrow-left"></i> Retour
        </button>
      </div>
    </form>
  </div>
</div>