<div class="container my-5">
  <h1 class="text-center mb-4">Configuration des Réponses Correctes</h1>
  <form (ngSubmit)="onSaveConfig()">
    <div class="grid-container">
      <div *ngFor="let question of configQuestions" class="grid-item">
        <div class="question-label">Q{{ question.numero_question }}</div>
        <div class="radio-group">
          <label class="radio-label">
            <span>A</span>
            <input type="radio" [(ngModel)]="question.choix" name="answer{{question.numero_question}}" value="A" />
            
          </label>
          <label class="radio-label">
            <span>B</span>
            <input type="radio" [(ngModel)]="question.choix" name="answer{{question.numero_question}}" value="B" />
          
          </label>
          <label class="radio-label">
            <span>C</span>
            <input type="radio" [(ngModel)]="question.choix" name="answer{{question.numero_question}}" value="C" />
            
          </label>
          <label class="radio-label">
            <span>D</span>
            <input type="radio" [(ngModel)]="question.choix" name="answer{{question.numero_question}}" value="D" />
            
          </label>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary">Sauvegarder Configuration</button>
    </div>
  </form>
</div>
