<app-navbar></app-navbar>
<div class="form-container">
  <h2 class="title"><i class="fas fa-building title-icon"></i>Ajouter un Site</h2>

  <form class="standard-form" (ngSubmit)="addSite()">
    <!-- Nom du site -->
    <div class="form-group">
      <label for="siteNom"><i class="fas fa-building icon-label"></i>Nom du site</label>
      <input type="text" class="form-control" id="siteNom"
             [(ngModel)]="siteNom" name="siteNom"
             placeholder="Entrez le nom du site (ex: Boulogne, Calais...)" required>
      <div class="error-message" *ngIf="errors['siteNom']">
        <i class="fas fa-exclamation-circle"></i> {{ errors['siteNom'] }}
      </div>
    </div>

    <!-- Message d'erreur général -->
    <div class="error-message" *ngIf="errors['general']">
      <i class="fas fa-exclamation-circle"></i> {{ errors['general'] }}
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" [disabled]="!isFormFilled()" [ngClass]="{ 'btn-disabled': !isFormFilled() }">
        <i class="fas fa-plus-circle"></i> Ajouter
      </button>
      <button type="button" class="btn btn-secondary" [routerLink]="['/site']">
        <i class="fas fa-arrow-left"></i> Retour
      </button>
    </div>
  </form>
</div>